body {
    margin: 0;
    padding: 0;
    background-image: url("../images/backgrounds/background-index.svg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;

}

h1 {
    margin: 75px 0 0 0;
    color: #141417;
    text-align: center;
    font-size: 80px;
    font-family: "OffLimits";
    text-shadow: 4px 4px 0 #ffffff;
}

article {

    width: 100%;
    color: #141417;
    display: grid;
    grid-template-columns: 40% 10% 40%;
    gap: 0px 0px;
    grid-template-areas:
        "img . txt";
    align-items: center;
    margin: 50px 0;
    font-size: 24px;
    justify-content: center;

}

.txt {
    background-color: white;
    border: 1px solid #141417;
    grid-area: txt;
    font-family: monospace;
    font-size: 20px;
    color: #141417;
    border-radius: 10px;
    filter: drop-shadow(8px 5px 0 #141417);
}

.txt>p {
    padding: 10px;
}

.img-container {
    width: auto;
    position: relative;
    grid-area: img;
}

.img-container>img {
    filter: drop-shadow(0px 0px 5px #000000);
}


.img-container>img:nth-child(1) {
    position: absolute;
    top: 180px;
    left: 165px;
    z-index: 1;
    transform: rotate(15deg);
}

.txtHead {
    padding-left: 20px;
    color: white;
    font-size: 16px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-family: monospace;
    grid-area: txtHead;
    padding: 10px 0 10px 10px;
    background-color: #141417;
}