body {
    margin: 0;
    padding: 0;
    background-image: url("../images/backgrounds/background-jake.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    margin: 75px 0 0 0;
    display: flex;
    flex-direction: column;
    
}

h1 {
    color: #141417;
    text-align: center;
    font-size: 80px;
    font-family: "OffLimits";
    text-shadow: 4px 4px 0 #ff00aa;
}

article {
    
    width: 100%;
    color: #141417;
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 0px 0px;
    grid-template-areas:
        "img txt";

    margin: 50px 0;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

p > a{
    color: #3a73f3
}

.txt{
    background-color: white;
    border: 1px solid #2ab1d5;
    grid-area: txt;
    font-family: monospace;
    font-size: 20px;
    color: #141417;
    border-radius: 10px;
    filter: drop-shadow( 8px 5px 0 #2ab1d5);
}

.txt > p{
    padding: 10px;
}

.img-container {
    width: auto;
    position: relative;
    grid-area: img;
    perspective: 96px;
}

.img-container  > img {
    filter: drop-shadow(6px 4px 0px #2ab1d5 );
}
 

.img-container> span {
    position: absolute;
    top: 180px;
    left: 170px;
    z-index: 1;
    transform: rotate(5deg);
}

.txtHead {
    padding-left: 20px;
    color: white;
    font-size: 16px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-family:  monospace;
    grid-area: txtHead;
    padding: 10px 0 10px 10px;
    background-color: #2ab1d5;
}