<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="about.html">Sobre</a></li>
    <li><a href="gallery.html">Galeria</a></li>

    <a href='index.html'><img src="../images/logo.png" width="400px"></a>
    <li><a href="characters.html" class="dropdown">Personagens</a>
        <ul>
            <a href="finn.html"><li class="dropdown-item">Finn</li></a>
            <a href="jake.html"><li class="dropdown-item">Jake</li></a>
            <a href="marceline.html"><li class="dropdown-item">Marceline</li></a>
            <a href="princesa-jujuba.html"><li class="dropdown-item">Princesa Jujuba</li></a>
            <a href="princesa-caroco.html"><li class="dropdown-item">Princesa Caroço</li></a>
            <a href="characters/rei-gelado.html"><li class="dropdown-item">Rei Gelado</li></a>
            <a href="characters/bmo.html"><li class="dropdown-item">BMO</li></a>
            <a href="characters/lady-iris.html"><li class="dropdown-item">Lady Íris</li></a>
        </ul>
    </li>
    <li><a href="../pages/contact.html">Contato</a></li>
    <li></li>
</ul>